name: Deploy to BeamUp
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Szükséges a teljes git history a push-hoz

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          # Ez azért kell, hogy ne kérdezze meg, megbízol-e a szerverben
          known_hosts: 'placeholder'

      - name: Add BeamUp to Known Hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H a.baby-beamup.club >> ~/.ssh/known_hosts

      - name: Push to BeamUp
        run: |
          # A távoli URL felépítése: ssh://[felhasználónév]@[host]/[app-név]
          # A BeamUp-nál az app neve megegyezik a felhasználóneveddel
          # Fontos: a felhasználónév 'lacizsolt-lgtm' kell legyen

          git remote add beamup ssh://lacizsolt-lgtm@a.baby-beamup.club/lacizsolt-lgtm
          git push beamup main --force
